body {
  background: #141414 !important;
}

header {
  background: transparent;
  transition: background-color 0.5s ease, position 0.5s ease;
}

header a{
  color: #fff !important;
}

header a:hover{
  color: rgb(211, 211, 211) !important;
}

header #menu {
  padding: 0 4% !important;
  height: 68px !important;

  background: -moz-linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%, rgba(0,212,255,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d4ff",GradientType=1);
}

.billboard {
  display: block;
  z-index: 1;
  position: relative;
}

.billboard-sub {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  margin-bottom: 20px;
  padding-bottom: 40%;
}

.billboard-bg {
  position: absolute;
  width: 100% !important;
  height: 56.25vw !important;
  overflow: hidden;
}

.billboard-hero {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
}

.billboard-hero .static-image{
  position: absolute;
  background-position: center center;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  opacity: 1;
}

.billboard-bg .hero-vinheta-left{
  position: absolute;
  top: 0;
  left: 0;
  right: 26.09%;
  bottom: 0;  
  opacity: 1;

  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0.4738270308123249) 0%, rgba(0,0,0,0.4430147058823529) 25%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.4738270308123249) 0%, rgba(0,0,0,0.4430147058823529) 25%, rgba(0,0,0,0) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0.4738270308123249) 0%, rgba(0,0,0,0.4430147058823529) 25%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.billboard-bg .hero-vinheta-button{
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 1;
  width: 100%;
  height: 106.7vh;
  bottom: -1px;

  background: rgb(20,20,20);
  background: -moz-linear-gradient(180deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.15) 15%, rgba(20,20,20,0.35) 29%, rgba(20,20,20,0.58) 44%, rgba(20,20,20,1) 68%, rgba(20,20,20,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.15) 15%, rgba(20,20,20,0.35) 29%, rgba(20,20,20,0.58) 44%, rgba(20,20,20,1) 68%, rgba(20,20,20,1) 100%);
  background: linear-gradient(180deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.15) 15%, rgba(20,20,20,0.35) 29%, rgba(20,20,20,0.58) 44%, rgba(20,20,20,1) 68%, rgba(20,20,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#141414",GradientType=1);
}

.billboard-content{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 56.25vh !important;
}

.billboard-content .billboard-lateral{
  position: absolute;
  top: 0;
  bottom: 35%;
  left: 4%;
  z-index: 10;
  width: 36%;
}

.billboard-content .billboard-lateral .title-logo{
  width: 100%;
}

.billboard-content .billboard-lateral .title-logo img{
  width: 100%;
}

.billboard-content .billboard-lateral .btn-assistir, .billboard-content .billboard-lateral .btn-maisinfo{
  border: none;
  padding: 0.8vw 2.4vw 0.8vw 2vw;
  font-size: clamp(10px; 1.6vw, 20px);
  margin-right: 0.4vw;
}

.billboard-content .billboard-lateral .description{
 width: 100%;
 margin: 1.5vw 0;

}

.billboard-content .billboard-lateral .sinopse {
  color: #fff;
  font-weight: 400;
  line-height: 1.8vw;
  width: 100%;
  font-size: 1.4vw;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  letter-spacing: 0;
}


.videos-row{
  margin: 3vw 0;
}
.videos-row h2{
  position: relative;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;
  color: #e5e5e5;
  font-weight: 700;
  z-index: 99;
  margin: 0 4% .5em 4%;
}
.carousel {
  /* background: #EEE; */
  padding: 0;
  z-index: 20 !important;
  border: none;
  outline: none;
}

.carousel:focus-visible{
  outline: none;
}

.carousel-cell{
  margin-right: 4px !important;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.1;

}

.carousel-cell img{
  width: 100%;
}
.carousel-cell.is-selected {
  opacity: 1;
}
.carousel-cell.is-selected:hover {
  opacity: 0.9;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}


@media only screen and (max-width: 500px) {
  /* 2 cards */
  .carousel-cell{
      width: 40%;
  }
  .flickity-prev-next-button{
      top: 50%;
      width: 8%;
      height: 100%;
      border-radius: 0;
      transform: translateY(-50%);
      position: absolute;
  }
  .flickity-page-dots{
      display: none;
  }
}
@media only screen and (min-width: 500px) {
  /* 3 cards */
   .carousel-cell{
      width: 28%;
  }
  .flickity-prev-next-button{
      top: 50%;
      width: 6%;
      height: 100%;
      border-radius: 0;
      transform: translateY(-50%);
      position: absolute;
  }
  .flickity-page-dots{
      display: none;
  }
}
@media only screen and (min-width: 800px) {
  /* 4 cards */
  .carousel-cell{
      width: 23%;
  }
  .flickity-prev-next-button{
      top: 50%;
      width: 3%;
      height: 100%;
      border-radius: 0;
      transform: translateY(-50%);
      position: absolute;
  }
  .carousel:hover .flickity-page-dots{
      display: block;
  }
}
@media only screen and (min-width: 1100px) {
  /* 5 cards */
  .carousel-cell{
      width: 18%;
  }
  .flickity-prev-next-button{
      top: 50%;
      width: 4%;
      height: 100%;
      border-radius: 0;
      transform: translateY(-50%);
      position: absolute;
  }
  .carousel:hover .flickity-page-dots{
      display: block;
  }
}
@media only screen and (min-width: 1400px) {
  /* 6 cards */
 .carousel-cell{
      width: 15%;
  }
  .flickity-prev-next-button{
      top: 50%;
      width: 4%;
      height: 100%;
      border-radius: 0;
      transform: translateY(-50%);
      position: absolute;
  }
  .carousel:hover .flickity-page-dots{
      display: block;
  }
}
.flickity-prev-next-button{
  background: #141414;
  border: none;
}
.flickity-prev-next-button:hover{
  background: #161616;
}
/* flickity-button flickity-prev-next-button previous
flickity-button flickity-prev-next-button next */
.flickity-prev-next-button.previous{
  display: none;
  left: 0px;
  background: rgb(20,20,20);
  background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(8,8,8,0.003) 85%, rgba(0,0,0,0) 100%);

}
.flickity-prev-next-button.next{
  display: none;
  right: 0px;
  background: rgb(20,20,20);
  background: linear-gradient(270deg, rgba(20,20,20,1) 0%, rgba(8,8,8,0.003) 85%, rgba(0,0,0,0) 100%);
}

.flickity-button-icon{
  color:#ffffff !important;
  fill:  #FFFFFF;
  z-index: 999;
}
.flickity-button-icon:hover{
  color:#ffffff !important;
  transform: scale(1.40);
}
.flickity-button:disabled{
  background: none;
}
.flickity-button:disabled .flickity-button-icon{
  color:none !important;
  fill: none !important;
}

.carousel:hover .flickity-prev-next-button.previous, .carousel:hover .flickity-prev-next-button.next{
  display: block;
}
.flickity-page-dots{
  position: absolute;
  width: 30%;
  top: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  right: 30px;
  height: 20px;
  text-align: right;
}
.flickity-page-dots .dot{
  display: inline-block;
  width: 10px;
  height: 2px;
  margin: 0 1px;
  background: #aaa;
  border-radius: 0%;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected{

}

footer{
  padding: 5vw 0;
  color: grey;
  font-size: 1.0rem;
}
footer .redesocial{
  font-size: 2.0rem;
}
footer .redesocial a{ color: gray; margin: 0 0.5vw;}
footer .redesocial a:hover{
  color: rgb(112, 112, 112);
}
footer ul{}
footer ul li{
  text-decoration: none;
  list-style: none;
  text-align: start;
}
footer ul li a{ color: gray; }
footer ul li a:hover{ color: rgb(112, 112, 112); }